%h2 Create Your Account
%form(action="/signup/create" method="post")
  .name
    %label(for="user_first_name") First Name
    %input(type="text" id="user_first_name" name="user[first_name]")
    %label(for="user_last_name") Last Name
    %input(type="text" id="user_last_name" name="user[last_name]")
  .email
    %label(for="user_email") Email Address
    %input(type="text" id="user_email" name="user[email]")
  .password
    %label(for="user_password") Password
    %input(type="text" id="user_password" name="user[password]")
    %label(for="user_password_confirmation") Confirm Password
    %input(type="text" id="user_password_confirmation" name="user[password_confirmation]")  
  .twitter
    %label(for="user_twitter") Twitter
    %input(type="text" id="user_twitter" name="user[twitter]")
    %span.example If you want to tweet photos, what twitter account will they be coming from?
  .path
    %label(for="site_subdomain") Subdomain
    %span.url http://watchmemakethis.com/
    %input(type="text" id="site_subdomain" name="site[subdomain]")
    %span.example This will be part of the web address to your site. Ex: http://watchmemakethis.com/<em>designsbyjane</em>
  
  %input(type="submit" value="Create My Account")
  