body
  padding: 20px

header
  margin: -20px -20px 20px -20px
  padding: 20px
  font-size: 200%
  a
    text-decoration: none
    
footer
  margin: 40px 0 20px
  clear: both
  text-align: center

#login_form
  width: 300px
  margin: 100px auto
  padding: 20px
  -webkit-border-radius: 10px
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4)
  label
    display: block
  input
    font-size: 130%
    display: block
    margin: 0 0 10px
    &[type=text], &[type=password]
      width: 280px
      
#builds
  overflow: hidden
  ul
    display: block
    float: left
    overflow: hidden
    li
      float: left
      img
        border: 4px solid #ffffff
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2)
        margin: 0 5px
  a.build_name
    display: block
    float: left
    margin: 26px 0 0 10px
    font-size: 200%
    text-decoration: none
  
#build_images
  padding: 20px
  li
    display: block
    float: left
    width: 300px
    height: 320px
    overflow: hidden
    padding: 10px
    text-align: center
    img
      border: 16px solid #ffffff
      -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.2)
    span.uploaded
      display: block
      margin: 5px 0 0
  #new_image
    overflow: auto
    table
      width: 100%
      td
        font-size: 80%
        text-align: left