$font-family: 'Helvetica Neue', HelveticaNeue, sans-serif
$create_background: #009900

html, table, td, th, input, textarea
  font-family: $font-family
  font-size: 16px

body
  padding: 20px
  
strong
  font-weight: bold
  
em
  font-style: italic

header
  margin: -20px -20px 20px -20px
  h1
    padding: 20px
    font-size: 200%
    a
      text-decoration: none
  nav
    float: right
    margin: -48px 20px 0 0
    vertical-align: middle
    select
      font-size: 110%
      
a.icon, span.icon
  font-family: Pictos, sans-serif
  font-weight: normal
  text-decoration: none
    
footer
  margin: 40px 0 20px
  clear: both
  text-align: center

#login_form
  width: 300px
  margin: 100px auto
  padding: 20px
  -webkit-border-radius: 10px
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4)
  label
    display: block
  input
    font-size: 130%
    display: block
    margin: 0 0 10px
    &[type=text], &[type=password]
      width: 280px
      
#create_build
  position: absolute
  right: 0
  cursor: pointer
  display: block
  overflow: hidden
  width: 210px
  float: right
  background-color: $create_background
  color: #ffffff
  text-decoration: none
  padding: 6px 10px 0 20px
  -webkit-border-radius: 20px 0 0 20px
  -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.5)
  &:hover
    -webkit-box-shadow: none
    background-color: lighten($create_background, 1%)
  span
    display: block
    float: left
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2)
  span.icon
    font-size: 210%
  span.label
    margin: 5px 0 0 8px
    font-weight: bold
    font-size: 110%

#builds
  clear: left
  overflow: hidden
  p.none
    display: block
    float: left
    width: 230px
    font-size: 140%
    padding: 32px 20px
    margin: 0 28px 0 0
    text-align: center
  ul.images
    display: block
    float: left
    overflow: hidden
    width: 300px
    li
      float: left
      overflow: hidden
      img
        border: 4px solid #ffffff
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2)
        margin: 0 5px
  & > li
    clear: both
    overflow: hidden
    height: 90px
    padding: 5px
    cursor: pointer
    margin: 0 0 10px
    
  .stats
    display: block
    float: left
    h2
      font-size: 200%
      margin: 0 0 10px
      a
        text-decoration: none
    ul
      li
        display: block
        float: none
        line-height: 1.3
        font-size: 90%
  
#new_image
  overflow: auto
              
#build_images
  padding: 20px
  text-align: center
  li
    display: inline-block
    width: 300px
    overflow: hidden
    padding: 10px
    text-align: center
    margin: 0 0 15px
    img
      border: 16px solid #ffffff
      -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.2)
    p.description
      margin: 5px 0 0
      height: 2em
    span.added
      display: block
      margin: 5px 0 0
      font-size: 90%
    .delete
      font-size: 150%
  .none
    display: inline-block
    width: 460px
    height: 220px
    vertical-align: middle
    font-size: 200%
    padding: 40px 0 0
    line-height: 1.5
      
      
form
  div.field_with_errors
    input
      border: 2px solid #ff0000
      
#new_build
  width: 680px
  margin: 60px auto
  padding: 20px
  -webkit-border-radius: 20px
  #build_name
    width: 400px
  
  .inline
    span, input
      display: inline
    &.hashtag
      span
        font-size: 150%
      
  span.example
    display: block
    font-size: 85%
    margin: 2px 0 40px
    line-height: 1.3
    
  input
    font-size: 140%
    font-family: $font-family
    display: block
    width: 200px
    
  label
    display: block
    margin: 0 0 4px
    font-size: 140%
    font-weight: bold
    span.icon
      font-size: 120%
      &.hashtag
        font-size: 150%
        vertical-align: middle
    
  a.submit
    display: block
    background-color: $create_background
    color: #ffffff
    border: none
    -webkit-border-radius: 30px
    padding: 10px 15px
    width: 280px
    text-align: center
    margin: 0 auto
    font-size: 160%
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2)
    text-decoration: none
    span.icon
      font-size: 120%
      