$nova: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", HelveticaNeue, sans-serif
$nova-soft: "proxima-nova-soft-1", "proxima-nova-soft-2", "Helvetica Neue", HelveticaNeue, sans-serif
$create_background: #009900

html, table, td, th, input, textarea
  font-family: $nova
  font-size: 16px

body
  padding: 20px
  
strong
  font-weight: bold
  
em
  font-style: italic

header
  margin: -20px -20px 20px -20px
  h1
    padding: 20px
    font-size: 200%
    a
      text-decoration: none
  nav
    float: right
    margin: -48px 20px 0 0
    vertical-align: middle
    select
      font-size: 110%
      
a.icon, span.icon
  font-family: Pictos, sans-serif
  font-weight: normal
  text-decoration: none
    
footer
  position: fixed
  bottom: 0
  padding: 10px 10px 10px 0
  clear: both
  text-align: center
  -webkit-border-radius: 0 10px 0 0





#login_form
  width: 300px
  margin: 100px auto
  padding: 20px
  -webkit-border-radius: 10px
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4)
  label
    display: block
  input
    font-size: 130%
    display: block
    margin: 0 0 10px
    &[type=text], &[type=password]
      width: 280px
      
      
      
      
      
#create_build
  position: absolute
  top: 62px
  right: 0
  cursor: pointer
  display: block
  overflow: hidden
  width: 220px
  float: right
  background-color: $create_background
  color: #ffffff
  text-decoration: none
  padding: 6px 10px 0 20px
  -webkit-border-radius: 20px 0 0 20px
  -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.5)
  &:hover
    -webkit-box-shadow: none
    background-color: lighten($create_background, 1%)
  span
    display: block
    float: left
  span.icon
    font-size: 210%
    margin: 1px 0 0
  span.label
    font-family: $nova-soft
    font-weight: 400
    margin: 5px 0 0 8px
    font-size: 130%





#builds
  clear: left
  overflow: hidden
  p.none
    display: block
    float: left
    width: 230px
    font-size: 140%
    padding: 32px 20px
    margin: 0 28px 0 0
    text-align: center
  ul.images
    display: block
    float: left
    overflow: hidden
    width: 300px
    li
      float: left
      overflow: hidden
      img
        border: 4px solid #ffffff
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2)
        margin: 0 5px
  & > li
    clear: both
    overflow: hidden
    height: 90px
    padding: 5px
    cursor: pointer
    margin: 0 0 10px
    
  .stats
    display: block
    float: left
    h2
      font-size: 200%
      margin: 0 0 10px
      a
        text-decoration: none
    ul
      li
        display: block
        float: none
        line-height: 1.3
        font-size: 90%
  
  
  
  
  
#new_image
  overflow: auto
              
              
              
              
              
#build_images
  padding: 20px
  text-align: center
  li
    display: inline-block
    width: 300px
    overflow: hidden
    padding: 10px
    text-align: center
    margin: 0 0 15px
    img
      border: 16px solid #ffffff
      -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.2)
    p.description
      margin: 5px 0 0
      height: 2em
    span.added
      display: block
      margin: 5px 0 0
      font-size: 90%
    .delete
      font-size: 150%
  .intro
    width: 550px
    margin: 0 auto
    padding: 20px
    -webkit-border-radius: 20px
    p:first-child
      font-size: 160%
      margin: 0 0 40px
    .tip
      overflow: hidden
      span.icon
        display: block
        float: left
        font-size: 200%
        margin: 0 10px 0 0
      p
        text-align: left
        
  .none
    display: inline-block
    width: 460px
    height: 220px
    vertical-align: middle
    font-size: 200%
    padding: 40px 0 0
    line-height: 1.5
      
      
      
      
      
form
  div.field_with_errors
    display: inline
    input
      border: 2px solid #ff0000
      
      
      
      
#new_build
  width: 680px
  margin: 60px auto
  padding: 20px
  -webkit-border-radius: 20px
  #build_name
    width: 400px
  
  .inline
    span, input
      display: inline
    &.hashtag
      span
        font-size: 150%
      
  span.example
    display: block
    font-size: 85%
    margin: 2px 0 40px
    line-height: 1.3
    
  input
    font-size: 140%
    font-family: $nova
    display: block
    width: 200px
    
  label
    font-family: $nova-soft
    display: block
    margin: 0 0 4px
    font-size: 150%
    font-weight: 500
    span.icon
      font-size: 120%
      &.hashtag
        font-size: 150%
        vertical-align: middle
    
  .button 
    font-family: $nova-soft
    font-weight: 700
    background: #17A1E6
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #4AC3FF), color-stop(0.5, #17A1E6), color-stop(1, #0088CC))
    background: -moz-linear-gradient(top, #4AC3FF, #0088CC)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4AC3FF, endColorstr=#0088CC)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4AC3FF, endColorstr=#0088CC)"
    border: 1px solid #1c7cb0
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    border-radius: 5px
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.1) inset
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1) inset
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset
    color: #FFF
    cursor: pointer
    display: inline-block
    font-size: 15px
    font-weight: 300
    line-height: 1em !important
    padding: 7px 10px
    position: relative
    text-align: center
    text-decoration: none
    text-shadow: rgba(0,0,0,.5) 1px 1px 0
  .button.green 
    background: #809900
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #93B300), color-stop(0.5, #809900), color-stop(1, #6C8000))
    background: -moz-linear-gradient(top, #93B300, #6C8000)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#93B300, endColorstr=#6C8000)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#93B300, endColorstr=#6C8000)"
    border-color: #576800
    color: #F9FAF3
    
  .button.red 
    background: #DC0203
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #FB3238), color-stop(0.5, #DC000A), color-stop(1, #BD0000))
    background: -moz-linear-gradient(top, #FB3238, #BD0000)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FB3238, endColorstr=#BD0000)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FB3238, endColorstr=#BD0000)"
    border-color: #9D0D12
    color: #F9FAF3
  .button:hover, .button:focus 
    background: #0087CC !important
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0088CC, endColorstr=#4AC3FF)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0088CC, endColorstr=#4AC3FF)"
    color: #FFF
  .button.green:hover, .button.green:focus 
    background: #6C8000 !important
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6C8000, endColorstr=#93B300)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#6C8000, endColorstr=#93B300)"
  .button.red:hover, .button.red:focus 
    background: #BD0000 !important
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BD0000, endColorstr=#FB3238)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BD0000, endColorstr=#FB3238)"
  .button.disabled, .button.disabled:hover, .button.disabled:focus 
    background: #ddd !important
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #eee), color-stop(0.5, #ddd), color-stop(1, #ccc))
    background: -moz-linear-gradient(top, #eee, #ccc)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eee, endColorstr=#ccc)
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eee, endColorstr=#ccc)"
    border-color: #aaa
    color: #888
    text-shadow: none
  .button.large 
    font-size: 140%
    font-weight: 300
    padding: 10px 15px
    text-shadow: rgba(0,0,0,.75) 0 -1px 0
  .button.small 
    font-size: 12px
    padding: 5px 10px
  .button.very-small 
    font-size: 11px
    padding: 0px 5px
  .button:after 
    background: none
    border: 2px solid #E8DED3
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    border-radius: 6px
    content: ""
    position: absolute
    top: -3px
    right: -3px
    bottom: -3px
    left: -3px
  .button.green:after 
    border-color: #E2E6CF
  .button.large:after 
    border-width: 3px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px
    border-radius: 8px
    top: -4px
    right: -4px
    bottom: -4px
    left: -4px
  .button.small:after 
    border-width: 1px
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    border-radius: 5px
    top: -2px
    right: -2px
    bottom: -2px
    left: -2px
