$nova: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", HelveticaNeue, sans-serif
$nova-soft: "proxima-nova-soft-1", "proxima-nova-soft-2", "Helvetica Neue", HelveticaNeue, sans-serif

h2
  font-family: $nova-soft
  font-size: 200%

.inline.twitter
  span
    font-size: 180%
    
input#user_email, input#site_name
  width: 410px