%section#intro
  .container
    %h2 Forgot Password
    
.container(style="min-height: 400px")
  %p.hello An email has been sent to <strong>#{params[:email]}</strong> with a link to reset your password!
  