/*
Syntax error: Undefined variable: "$font-family".
        on line 2 of /Users/rob/Sites/watchmemakethis/public/stylesheets/sass/admin.sass

1: html, table, td, th, input, textarea
2:   font-family: $font-family
3:   font-size: 16px
4: 
5: html
6:   background: #ffffff url('/images/admin/nav_bg.png') top left repeat-y
7:   

Backtrace:
/Users/rob/Sites/watchmemakethis/public/stylesheets/sass/admin.sass:2
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/script/variable.rb:45:in `_perform'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/script/node.rb:40:in `perform'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:215:in `visit_prop'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/engine.rb:291:in `_render'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/engine.rb:239:in `block in render'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/util.rb:298:in `silence_sass_warnings'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/engine.rb:239:in `render'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `each'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `each'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/sass-3.1.1/lib/sass/plugin/rack.rb:51:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/rack-1.2.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/Users/rob/.rvm/gems/ruby-1.9.2-p180@watchmemakethis/gems/rack-1.2.2/lib/rack/handler/webrick.rb:52:in `service'
/Users/rob/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/rob/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/rob/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$font-family\".\A         on line 2 of /Users/rob/Sites/watchmemakethis/public/stylesheets/sass/admin.sass\A \A 1: html, table, td, th, input, textarea\A 2:   font-family: $font-family\A 3:   font-size: 16px\A 4: \A 5: html\A 6:   background: #ffffff url('/images/admin/nav_bg.png') top left repeat-y\A 7:   "; }
