body {
	font-family: Lucida Grande, sans-serif;
	background-color: #333333;
	color: #ffffff;
}

/*********************/
/* Header & Nav      */
/*********************/

#header {
	padding: 0;
	overflow: hidden;
}

	#tabs {
		margin: 1.6em 2em 0;
		float: left;
		font-size: 116%;
	}
	
		#tabs a {
			text-decoration: none;
			color: #ffffff;
		}
		
		#tabs a:hover {
			text-decoration: underline;
		}

		#tabs li {
			display: inline;
			padding: .4em .9em;
		}
	
			#tabs li.selected {
				background-color: #cccccc;
			}
			
			#tabs li.selected a {
				color: #333333;
			}
	
	#search {
		float: right;
		margin: 1em;
	}
	
	
/*********************/
/* Body              */
/*********************/
	
#container {
	
}

#title {
	background-color: #cccccc;
	color: #333333;
	font-family: Georgia;
	padding: 1em;
}

	#title h1 {
		font-size: 182%;
	}