body {
  padding: 20px; }

header {
  margin: -20px -20px 20px -20px; }
  header h1 {
    padding: 20px;
    font-size: 200%; }
    header h1 a {
      text-decoration: none; }
  header nav {
    float: right;
    margin: -48px 20px 0 0;
    vertical-align: middle; }
    header nav select {
      font-size: 110%; }

footer {
  margin: 40px 0 20px;
  clear: both;
  text-align: center; }

#login_form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  #login_form label {
    display: block; }
  #login_form input {
    font-size: 130%;
    display: block;
    margin: 0 0 10px; }
    #login_form input[type=text], #login_form input[type=password] {
      width: 280px; }

#builds {
  overflow: hidden; }
  #builds ul {
    display: block;
    float: left;
    overflow: hidden; }
    #builds ul li {
      float: left;
      overflow: hidden;
      width: 75px;
      height: 75px; }
      #builds ul li img {
        width: 75px;
        height: 75px; }
      #builds ul li img {
        border: 4px solid white;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        margin: 0 5px; }

#builds > li {
  float: left;
  margin: 0 40px 20px 0; }
  #builds > li a.build_name {
    display: block;
    float: left;
    margin: 26px 0 0 10px;
    font-size: 200%;
    text-decoration: none; }

#build_images {
  padding: 20px; }
  #build_images li {
    display: block;
    float: left;
    width: 300px;
    height: 320px;
    overflow: hidden;
    padding: 10px;
    text-align: center; }
    #build_images li img {
      border: 16px solid white;
      -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }
    #build_images li span.uploaded {
      display: block;
      margin: 5px 0 0; }
  #build_images #new_image {
    overflow: auto; }
    #build_images #new_image table {
      width: 100%; }
      #build_images #new_image table td {
        font-size: 80%;
        text-align: left; }
