:plain
  <div id="fileupload">
      <form action="#{request.path}/upload.html" method="POST" enctype="multipart/form-data">
          <div class="fileupload-buttonbar">
              <label class="fileinput-button">
                  <span>Add files...</span>
                  <input type="file" name="files[]" multiple>
              </label>
          </div>
      </form>
      <div class="fileupload-content">
          <table class="files"></table>
          <div class="fileupload-progressbar"></div>
      </div>
  </div>
  <script id="template-upload" type="text/x-jquery-tmpl">
      <tr class="template-upload{{if error}} ui-state-error{{/if}}">
          <td class="preview"></td>
          <td class="name">${name}</td>
          <td class="size">${sizef}</td>
          {{if error}}
              <td class="error" colspan="2">Error:
                  {{if error === 'maxFileSize'}}File is too big
                  {{else error === 'minFileSize'}}File is too small
                  {{else error === 'acceptFileTypes'}}Filetype not allowed
                  {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                  {{else}}${error}
                  {{/if}}
              </td>
          {{else}}
              <td class="progress"><div></div></td>
              <td class="start"><button>Start</button></td>
          {{/if}}
          <td class="cancel"><button>Cancel</button></td>
      </tr>
  </script>

- content_for :body_end do  
  :javascript

    $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload();

      // Open download dialogs via iframes,
      // to prevent aborting current uploads:
      $('#fileupload .files a:not([target^=_blank])').live('click', function (e) {
        e.preventDefault();
        $('<iframe style="display:none;"></iframe>')
          .prop('src', this.href)
          .appendTo('body');
      });
    });
    