%section#intro
  .container
    %h2 Error

.container.help
  %p.hello Well this is embarrassing. There was an error while building this page. We've been notified and will get it fixed as soon as possible!