%section#intro
  .container
    .text
      %h2 Give your clients a peek into the creative process
      %p
        %strong Watch Me Make
        is a way for artists, craftspeople and designers to show pictures of their work as it's being made. Let a client watch as you create their dresser, jewelry or painting.
      = link_to 'Coming Soon!', '#', :class => "button blue large"

%section#more_info
  .container
    %section#build
      %h3 What is this?
      %p 
        Are you an artist, craftperson or builder? Have you ever thought about letting a client watch over your shoulder as you're building something for them, minus the heavy breathing? 
        %strong Watch Me Make
        is for you (and them).

    %section#how
      %h3 How does it work?
      %p Take photos while you're working and <strong>tweet</strong>, <strong>email</strong> or <strong>upload</strong> them to us. You get a website to send your clients to and they can follow along with your progress.

    %section#cost
      %h3 How much does it cost?
      %p It's free!

%section#screen
  .container
    .screen
    %h3 Lots of ways to get photos to your site from your Mac, PC or smart phone.
    %ul
      %li#twitter 
        %p The quickest way to get your photos to your site is <strong>Twitter</strong>: snap a photo, attach it to a tweet and send it to @watchmemake.
        =# link_to 'See how', '#'
      %li#email
        %p Don’t have access to your PC? You can <strong>email</strong> photos to your site from anywhere, even multiples at one time.
        =# link_to 'Watch a demo', '#'
      %li#upload
        %p You’ve probably got lots of photos on your computer already. Simply <strong>drag and drop</strong> them into your browser to upload them!
        =# link_to 'See it in action', '#' 
    .signup
      = link_to 'Coming Soon!', '#', :class => 'button large blue'