.intro
  %p Welcome to your site! The first thing we're going to do is a create a <strong>Build</strong>. Click that button in the upper right.
  .tip
    %p A build is generally for one project, like building a nightstand for example. All the photos you take of the progress towards this nightstand will be sent to this new build you're about to create.
