$font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", HelveticaNeue, sans-serif

#login_form
  width: 500px
  margin: 50px auto
  padding: 20px
  text-align: center
  font-size: 150%
  label
    display: block
    color: #8b4a2e
    margin-top: 0
    text-align: left
    font-size: 130%
  input
    font-size: 130%
    display: block
    margin: 0 0 10px
    width: 100%
  input.button
    width: auto
    display: inline