$font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", HelveticaNeue, sans-serif

#login_form
  width: 300px
  margin: 100px auto
  padding: 20px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4)
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4)
  text-align: center
  label
    display: block
    color: #8b4a2e
    margin-top: 0
    text-align: left
  input
    font-size: 130%
    display: block
    margin: 0 0 10px
    width: 280px
  input.button
    width: auto
    display: inline