$font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", HelveticaNeue, sans-serif

h2
  font-family: $font-family
  font-size: 200%

.inline.twitter
  span
    font-size: 180%
    
input#user_email, input#site_name
  width: 410px
  
.preview
  margin: 40px 0 0
  float: right
  color: #cccccc
  text-align: center
  .header
    margin: 4px 0 0
    padding: 10px 0 0
    width: 200px
    height: 28px
  .image
    margin: 0 auto 5px
    padding: 5px 0 0
    width: 50px
    height: 30px
    border: 4px solid #ffffff
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2)
    span.icon
      font-size: 200%
  .body
    width: 198px
    padding: 25px 0 0
    height: 87px
    border: 1px solid #ffffff
    border-top: none
