$font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", HelveticaNeue, sans-serif
$create_background: #009900


body.site

  header
    margin: -20px -20px 20px -20px
    h1
      padding: 20px
      font-size: 200%
      a
        text-decoration: none
    nav
      float: right
      margin: -60px 20px 0 0
      vertical-align: middle
      ul
        li
          display: inline
          margin: 0 0 0 5px
      select
        font-size: 100%
        font-family: $font-family

  // New build form
  form#new_build, form.edit_build
    margin-top: 60px
    #build_name_label
      margin-top: 0
    a.delete
      display: block
      float: right
      margin: 34px 0 0
      
  // Create A New Build button
  #create_build
    position: absolute
    top: 52px
    right: 0
    cursor: pointer
    display: block
    overflow: hidden
    width: 220px
    float: right
    background-color: $create_background
    color: #ffffff
    text-decoration: none
    padding: 6px 10px 0 20px
    -webkit-border-radius: 20px 0 0 20px
    -moz-border-radius: 20px 0 0 20px
    -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.5)
    -moz-box-shadow: inset 0 2px 0 rgba(255,255,255,0.5)
    &:hover
      -webkit-box-shadow: none
      background-color: lighten($create_background, 1%)
    span
      display: block
      float: left
    span.icon
      font-size: 210%
      margin: 1px 0 0
    span.label
      font-family: $font-family
      font-weight: 400
      margin: 5px 0 0 8px
      font-size: 130%

  // List of builds on the site overview page
  #builds
    clear: left
    overflow: hidden
    p.none
      display: block
      float: left
      width: 230px
      font-size: 140%
      padding: 32px 20px
      margin: 0 28px 0 0
      text-align: center
    ul.images
      display: block
      float: left
      overflow: hidden
      width: 300px
      li
        float: left
        overflow: hidden
        img
          border: 4px solid #ffffff
          -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.2)
          -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2)
          margin: 0 5px
    & > li
      clear: both
      overflow: hidden
      height: 90px
      padding: 5px
      cursor: pointer
      margin: 0 0 10px
    
    .stats
      display: block
      float: left
      h2
        font-size: 200%
        margin: 0 0 10px
        a
          text-decoration: none
      ul
        li
          display: block
          float: none
          line-height: 1.3
          font-size: 90%
  
  
  // Upload new images box
  #new_image
    overflow: auto
    margin: 0 0 -20px
    padding: 0 20px 20px 20px
    clear: both
    form
      margin: 0 auto
      padding: 0
  
  
  // Title of the build
  h2.build_title
    font-size: 160%
    font-size: 400
    width: 30%
    a
      text-decoration: none
    a.edit_build
      text-decoration: none
      padding: 2px 8px
      font-size: 50%
      -webkit-border-radius: 4px
      &:hover
        text-decoration: underline

  ul.share
    margin: 10px 0 0
    font-size: 90%
    li
      display: inline
      margin-right: 8px

  #email_dialog
    form
      width: auto
      label, input, textarea
        font-size: 90%
        width: 400px
      label
        margin: 1em 0 0
      span.example
        font-size: 60%
        color: #999999
      textarea
        height: 5em
        margin: 1em 0 0
  
  // Grid of images in the build
  #build_images
    padding: 30px 20px 20px
    text-align: center
    li
      display: inline-block
      width: 300px
      overflow: hidden
      padding: 10px
      text-align: center
      margin: 0 0 15px
      img
        border: 16px solid #ffffff
        -moz-box-shadow: 0 10px 10px rgba(0,0,0,0.2)
        -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.2)
      p.description
        margin: 5px 0 0
        height: 2em
        span.placeholder
          font-style: italic
          text-decoration: none
      span.added
        display: block
        margin: 5px 0 0
        font-size: 90%
      .delete
        font-size: 150%
      ul.actions
        li
          padding: 10px 0
          
      // description edit form
      form
        width: 100%
        margin: 0
        padding: 0
        text-align: left
        overflow: hidden
        -moz-border-radius: 0
        -webkit-border-radius: 0
        position: relative
        textarea
          display: block
          float: left
          width: 240px
          height: 100%
          font-size: 90%
          line-height: 1.2
          margin: 0 10px 0 0
          text-align: center
        input
          width: auto
          font-size: 90%
          padding: 1px 5px
          border: none
          -moz-border-radius: 4px
          -webkit-border-radius: 4px
        a
          font-size: 80%
        
    // no images 
    .none
      display: inline-block
      width: 460px
      height: 220px
      vertical-align: middle
      font-size: 200%
      padding: 40px 0 0
      line-height: 1.5
      
// no images intro text
.intro
  width: 550px
  margin: 0 auto
  padding: 20px
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  & > p:first-child
    font-size: 160%
    margin: 0 0 40px
    text-align: center
  .tip
    overflow: hidden
    span.icon
      display: block
      float: left
      font-size: 200%
      margin: 0 10px 0 0
    p
      text-align: left
  .reverse
    margin: 20px 0 0
    padding: 10px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    font-size: 110%

body.site
  footer
    position: fixed
    bottom: 0
    padding: 10px 10px 10px 20px
    margin: 0 0 0 -20px
    clear: both
    text-align: center
    -webkit-border-radius: 0 10px 0 0
    -moz-border-radius: 0 10px 0 0
    